{% extends "base.html" %}

{% block content %}



  <!-- Page Content -->
  <div class="container">
  
      <div class="row">

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-8 text-left">

              <h1 class="mt-5">CAS29: Cycling Augmentation System</h1>
              <br><br>
              <p class="lead">
                  We believe that cycling is the future of personal transportation!
              </p>
              <br><br>
              <p>
                  Over the coming decade people will use diverse open data to make cycling as safe as possible.
                  We don't know what tech will look like in 2029 - but we've developed a concept implemented using 2019 technology.
              </p>
              <p>
                  As you ride your bike, your mobile device runs the CAS29 app that periodically checks in with this server.
                  CAS29 sends information about your location and the time of day.
                  The server filters historical pedestrian and cyclists crashes at that place and time using your live location.
              </p>
              <p>
                  CAS29 provides a statistical summary of crash events in your area as you move, as well as weather
                  conditions from BOM that could affect cyclist safety.
                  Server data is updated daily from ACT SODA APIs, and every 30 min from the Bureau of meteorology data feed.
                  Statistics on historical crash events around you - and their severity - can be used for smart object
                  detection and interpretation on your mobile device that will issue voice prompts as you ride.
              </p>
              <p>The future of transportation is clean, green ... and safe.
              </p>
              <p>
                  Wherever you ride, <b>CAS29 has your back.</b>
              </p>
              <br><br>
          </div>

          <div class="col-sm-2 text-center"></div>

      </div>


      <div class="row">
          <div class="col-sm-3 text-center"></div>
          <div class="col-sm-6 text-center">
              <img class="mw-100" src="https://i.ibb.co/pZtNYyp/Screenshot-20190908-091203-Cas2029mobile-1.jpg" alt="Max-width 100%">
              <br><br><br>
          </div>
          <div class="col-sm-3 text-center"></div>
      </div>

  </div>



{% endblock %}
