{% extends "base.html" %}

{% block content %}



  <!-- Page Content -->
  <div class="container">
  
      <div class="row">

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-8 text-left">
                <img src="https://i.ibb.co/DLNSB19/image6.png" alt="iamcas29" border="0">
​
                <h1>CAS29: Cycling Augmentation System</h1>
                <h2><i>Wherever you ride, whenever you ride, CAS29 has your back.</i></h2>
                ​
                ​
                <p>It's 2029. You've overslept your alarm It's 8.59am. You're late for work. Speeding through your morning routine you get to the door - but how are you going to travel to work today...</p>
                <p>You could drive, but the traffic is awful. A bus or tram is a tempting proposal, but they're also full. What do you do? You turn to the pinnacle of modern transportation - the bicycle.</p>
                ​
                <div style="border:1px solid black; padding: 10px; overflow: auto; width: 60%;"">
                    <div style="float:left; margin: 0 1.5%; width: 73%;">
                        <b><i>Did you know? </i></b>
                        <p>The development of the 'safety bicycle' in 1880 was amongst the most important invention in the history of the bicycle. It shifted public perception and use from being a dangerous toy for sporting young men to the herald of everyday transport today.</p>
                    </div>
                    <img src="https://i.ibb.co/nmSsrv4/image10.jpg" alt="safety-bicycle" style="float: right; margin: 0 1.5%; width: 20%;"></img>
                </div>
                ​
                <p>Much like the development of the 1880s safety bicycle, CAS29 is revolutionising cycling today. This concept connects the modern cyclist with live safety information based on your location. Why not cycle when CAS29 has your back?</p>
                ​
                ​
                <h3>Our vision</h3>
                <p>The future of public transportation in Australia will be cycling! As our cities expand, and our work cubicles shrink, there will be more pressure on our transportation network. We believe that cycling will offer the highest autonomy to the modern commuter and will serve to compliment developing public transportation options such as trains, trams and buses. However, with a growing population, our cities will have more cars, buses and pedestrians sharing our roads. Providing a safe environment for all commuters will be a key challenge.</p>
                ​
                <img src="https://i.ibb.co/Yk4K1CF/image4.png" alt="cas29-overview-conversation">
                ​
                <h3>Product Description</h3>
                <p>We have created a concept app implementing historical road crash data, weather data and machine vision to provide a summary of crash events and alerts as your cycle along your route. </p>
                <p>We envision that as your ride your bike, your mobile device running a client application periodically checks with the server. The server receives your location and the current time of date and filters historical pedestrian and cyclist crash data within a geographical radius and time window for that location. The server pushes this back to the client, along with weather conditions sourced from the Bureau of Meteorology and draws on smart object detection from your device to provide a contextually relevant voice prompts of potential risks as you cycle. </p>
                <p>Our API server is updated daily via ACT SODA APIs and every 30 minutes from the BOM meteorology data feed. The API server is able to provide statistics on crash events around the provided geographic coordinates along with their severity (whether property damage, injury or fatalities were sustained). The smart object detection can perceive other road uses, such as cars, cyclists, pedestrians or even the run away pet, to ensure you have a second set of eyes watching your back.</p>
                ​
                <h3>Who are the users?</h3>
                ​
                <div>
                    <img src="https://i.ibb.co/nbfDL32/image3.png" alt="family-cyclists" style="float: left; margin: 0 1.5%; width: 15%;">
                    <div style="float:right; margin: 0 1.5%; width: 78%;">
                        <b>The Simpson's Story...</b>
                        <p>Marge and Homer have two young kids. Ferrying their kids too and from school each day is a serious undertaking. To make matters worse their kids have expressed that it's no longer 'cool' to be dropped off at school. Parenting is tough. Marge and Homer would love their kids to be able to cycle to school, but want to make sure that their commute is safe.</p>
                        <p>CAS29 provides the reassurance that their kids will be safe and aware. A calming voice alert from CAS29 will detect any obstacles or dangers and remind the kids to be careful. With the confidence of CAS29 Marge and Homer are free to enjoy their mornings.</p>
                    </div>
                </div>
                ​
                <div>
                    <img src="https://i.ibb.co/pX8cWhx/image1.png" alt="commuter-cyclist" style="float: right; margin: 0 1.5%; width: 15%;">
                    <div style="float:left; margin: 0 1.5%; width: 78%;">
                        <b>Cathy's Story...</b>
                        <p>Cathy recently graduated from her university degree and moved to Canberra for a new job. She was excited to get started crunching spreadsheets and purchased a new bike to commute to work. Cathy being new to the city was worried about her safety whilst commuting.</p>
                        <p>After installing CAS29 Cathy could receive live notifications whenever she got near accident hot spots. With the confidence that the ride would be safe, and with weather updates helping her stay dry, Cathy could arrive at work energised and ready for eight hours of data cleansing.</p>
                    </div>
                </div>
                 
                <div>
                    <img src="https://i.ibb.co/Kh9bb6s/image9.png" alt="tourist-cyclist" style="float: left; margin: 0 1.5%; width: 15%;">
                    <div style="float:right; margin: 0 1.5%; width: 78%;">
                        <b>Beetle Bikes Story...</b>
                        <p>Beetle Bikes, a small business renting bikes to tourists, found that those unfamiliar with the city ended up in accidents. Concerned for the safety of their customers (and hopeful to reduce damage to their bikes) Beetle Bikes turned to CAS29. Their rental bikes can now alert riders to potential collisions on the road through CAS29's machine vision. Beetle Bikes are happy to see their customers enjoying the sights of the city, and getting back in one piece.</p>
                    </div>
                </div>



                <br> 
             <img src="https://i.ibb.co/pZtNYyp/Screenshot-20190908-091203-Cas2029mobile-1.jpg">

          </div>

          <div class="col-sm-2 text-center"></div>

      </div>

  </div>



{% endblock %}
