{% extends "base.html" %}

{% block content %}



  <!-- Page Content -->
  <div class="container">
  
      <div class="row">

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-8 text-center">

              <h1 class="mt-5">Get in touch</h1>
              <br><br>
              <p class="lead">
                  Got questions? Suggestions? Feedback? DIIStance Cyclists woulld love to hear from you!
              </p>
              <br><br>
              <p>
                  <a href="mailto:roman.dronov.gt@gmail.com" target="_blank" class="btn btn-info">Contact CAS29</a>
              </p>

          </div>

          <div class="col-sm-2 text-center"></div>

      </div>

  </div>




{% endblock %}
