{% extends "base.html" %}

{% block content %}



 <!-- Video and communication from CAS29 -->
  <div class="container">

      <div class="row">

          <div class="col-sm-12 text-center">
            <h1 class="mt-5"></h1>
            <br><br>
          </div>

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-4 text-left">

              <p>
                  V I D E O   G O E S   H E R E  <br>
                  Let's embed a short 5 second video of someone (maybe one of us?) cycling. <br>
                  First person GoPro view preferred.
                  <br><br><br><br><br><br><br>
              </p>
          </div>

          <div class="col-sm-4 text-left">
              <p>
                  Over here I'll load some test on a 1 second delay so it looks like messages coming in from CAS29.
                  <br><br>
                  "Hi, I'm CAS29."
                  <br>
                  "I keep you safe on the road."
                  <br>
                  "I live on your phone."
                  <br>
                  "Let's say you're cycling here..."
                  <br>
              </p>
          </div>

          <div class="col-sm-2 text-center"></div>

      </div>

  </div>


 <!-- Communication from CAS29 and Map-->
  <div class="container">

      <div class="row">

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-4 text-left">
              <p>
                  "I monitor your location as your ride..."
                  <br>
                  "...and send you real-time updates about safety issues close by."
                  <br>
                  "Let's say there have been two accidents at this roundabout in the past 12 months."
                  <br>
                  "I'll let you know to keep an eye out and be extra careful."
              </p>
          </div>

          <div class="col-sm-4 text-center">
              <p>
                  M A P   G O E S   H E R E <br>
                  We'll do an API call here from the user's IP address and bring their current location up on a map.
                  <br>
                  We'll show a map of their location just we do in the 'Test' page.
              </p>
          </div>

          <div class="col-sm-2 text-center"></div>

      </div>

  </div>



{% endblock %}
