{% extends "base.html" %}

{% block content %}



 <!-- Video and communication from CAS29 -->
  <div class="container">

      <div class="row">

          <div class="col-sm-12 text-center">
            <h1 class="mt-5"></h1>
            <br><br>
          </div>

          <div class="col-sm-1 text-center"></div>

          <div class="col-sm-4 text-left">

              <p>
                  V I D E O   G O E S   H E R E  <br><br>
                  Let's embed a short 5 second video of someone (maybe one of us?) cycling. <br><br>
                  First person GoPro view preferred.
                  <br><br><br><br><br><br><br>
              </p>
          </div>

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-4 text-left">
              <p>
                  <span id="cas0"></span><br>
                  <br>
                  <span id="cas1"></span><br>
                  <br>
                  <span id="cas2"></span><br>
                  <br>
                  <span id="cas3"></span><br>
                  <br>
              </p>
          </div>

          <div class="col-sm-1 text-center"></div>

      </div>

  </div>


 <!-- Communication from CAS29 and Map-->
  <div class="container">

      <div class="row">

          <div class="col-sm-1 text-center"></div>

          <div class="col-sm-4 text-left">
              <p>
                  <span id="cas4"></span><br>
                  <br>
                  <span id="cas5"></span><br>
                  <br>
                  <span id="cas6"></span><br>
                  <br>
                  <span id="cas7"></span><br>
              </p>
          </div>

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-4 text-center">
              <p>
                  M A P   G O E S   H E R E <br>
                  We'll do an API call here from the user's IP address and bring their current location up on a map.
                  <br>
                  We'll show a map of their location just we do in the 'Test' page.
              </p>
          </div>

          <div class="col-sm-1 text-center"></div>

      </div>

  </div>



<script>

    var cas29msg = ["Hi! I'm CAS29.", "I keep you safe on the road.", "I live on your phone.", "Let's say you're cycling here:", "I monitor your location as your ride...", "...and send you real-time updates about safety issues close by.", "Did you know that in the past 12 months there have been two accidents involving cyclists at this roundabout?", "Better keep an eye out and be extra careful!"];
    var timeBetween = 70;
    var i;

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    window.onload = async function casFirst() {
        await sleep(cas29msg[0].length * timeBetween);
        document.getElementById("cas0").innerHTML = cas29msg[0];
        window.setTimeout(msg, cas29msg[1].length * timeBetween);
    }

    async function msg() {
        for (let i = 1; i < cas29msg.length; i++) {
            await sleep(cas29msg[i].length * timeBetween);
            document.getElementById("cas"+i).innerHTML = cas29msg[i];
        }
    }


</script>


{% endblock %}
