{% extends "base.html" %}

{% block content %}



  <!-- Header Section -->
  <div class="container">

      <div class="row">

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-8 text-left">

              <h1 class="mt-5">Ready to take CAS2029 for a spin?</h1>
              <br><br>
              <p>
                  CAS29 is a mobile app that notifies you of safety issues as you ride.
              </p>
              <p>
                  Pick coordinates on the map below to simulate your location:
              </p>
              <br><br>

              <div class="col-sm-2 text-center"></div>

          </div>

      </div>

  </div>



  <!-- Map -->
  <div class="container">
  
      <div class="row">

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-8 text-center">
              <div id="mapid" style="height: 300px"></div>
          </div>

          <div class="col-sm-2 text-center"></div>

      </div>

  </div>


  <!-- Form -->
  <div class="container">

      <div class="row">

          <div class="col-sm-2 text-center"></div>

          <div class="col-sm-4 text-left">

              <hr>
              <h4>Where</h4>

                         <form>

                          <div class="form-group row mt-3">
                            <label for="lat" class="col-sm-2 col-form-label">Latitude</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="lat" placeholder="Latitude" value="-35.3">
                            </div>
                          </div>
                          
                          
                          <div class="form-group row">
                            <label for="lon" class="col-sm-2 col-form-label">Longitude</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="lon" placeholder="Longitude" value="149.12">
                            </div>
                          </div>
                          
                             <div class="form-group">
                                <label for="formControlRange">Pick Radius (km)</label>
                                <input name="slider_value" type="range" min="0.5" max="10" value="1" step="0.5" class="form-control-range" id="formControlRange" onchange="updateRadiusInput(this.value);">
                              </div>


                           <div class="form-group row">
                            <label for="radius" class="col-sm-2 col-form-label">Radius</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="radius" placeholder="Radius" value="1">
                            </div>
                          </div>

                             <hr>

               <h4>When</h4>
                         
                                   <div class="form-group row">
                    
                                     <label for="datetimepicker1" class="col-sm-2 col-form-label">Time</label>
                                            <div class="input-group date col-sm-10" id="datetimepicker1" data-target-input="nearest">
                                                <input type="text" id="dtp" class="form-control datetimepicker-input" value="17:00" data-target="#datetimepicker1"/>
                                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                    <div class="input-group-text">Time</i></div>
                                                </div>
                                            </div>

                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker1').datetimepicker({
                                                format: 'HH:mm'
                                            });
                                        });
                                    </script>
                                </div>
                         



                        <div class="form-group">
                                <label for="formControlRange">Pick Time Margin (min)</label>
                                <input name="slider_value" type="range" min="10" max="240" value="60" step="10" class="form-control-range" id="formControlMargin" onchange="updateMarginInput(this.value);">
                              </div>
                         
                         
                         
                           <div class="form-group row">
                            <label for="margin" class="col-sm-2 col-form-label">Margin</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="margin" placeholder="Margin" value="60">
                            </div>
                          </div>
                         

                         
                          </form> 

              <div class="form-group row">
                <div class="col-sm-10 text-center">
                    <button onclick="apiFunction()" class="btn btn-success">Go!</button>
                </div>
              </div>

          </div>


          <div class="col-sm-2 text-center"></div>



        </div>
        <div class="col text-center">
        
         
          <div class="card mt-8"> </div>
          
                        <div class="card mt-5" style="width: 550px; height: 150px">
                          <div class="card-header">
                            API request
                          </div>
                          <div class="card-body">
                           
                            <p id="api_req" class="card-text">API request will appear here</p>
                           
                          </div>
                        </div>


                        <div class="card mt-2" style="width: 550px"> 
                          <div class="card-header">
                            API response
                          </div>
                          <div class="card-body">
                     
                            <p id="api_resp" class="card-text">API response will appear here</p>
                           
                          </div>
                        </div>
          
          
                                  <div class="card mt-2" style="width: 550px"> <!-- ; height: 350px -->
                          <div class="card-header">
                            Response interpretation
                          </div>
                          <div class="card-body">
                            <p id="r1" class="card-text">Execute API call to see interpretation</p>
                          
                          </div>
                        </div>
          
        </div>
      </div>
   </div>  



{% endblock %}
